
@{
    ViewBag.Title = "Home Page";
}

<html>

<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        .a
        {
            min-height:600px;
        }
        .b
        {
            min-height:500px;
            margin:30px auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 mx-auto a border border-2">
                <div class="row">
                    <div class="col-sm-6 mx-auto bg-light border-border-3 b">
                        <form method="post">
                            <span>Registration Form</span><br /><br />
                            Full Name:
                            <input type="text" name="name" placeholder="Enter Full Name" class="form-control" /><br />
                            Email:
                            <input type="email" name="email" placeholder="Enter Email ID" class="form-control" /><br />
                            Password:
                            <input type="password" name="password" placeholder="Enter password" class="form-control" /><br />
                            Mobile Number:
                            <input type="number" name="number" placeholder="Mobile number" class="form-control" /><br />
                            Date Of Birth:
                            <input type="date" name="date" class="form-control" /><br />
                            Gender:
                            <input type="radio" name="gen" value="male" />Male
                            <input type="radio" name="gen" value="female" />Female
                            <input type="radio" name="gen" value="other" />other<br />
                            Address:
                            <textarea style="resize:none;" class="form-control" name="address" rows="5" cols="20"></textarea><br />
                            City:
                            <select name="city" class="form-control">
                                <option>select option</option>
                                <option>up</option>
                                <option>mp</option>
                                <option>Bihar</option>
                            </select><br />
                            <input type="number" name="postal" placehoder="Enter postal code" class="form-control" /><br />
                            <input type="submit" value="Submit" class="form-control" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
